<!-- Basic Page Needs -->
<meta charset="utf-8">
<title>Shoepify</title>

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link type="image/x-icon" href="/images/fav-icon.png" rel="icon">

<%- include('../layouts/links.ejs') %>