<header class="header transition">
    <div class="container position-r">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 align-flax">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="log" src="/images/logo.png" class="transition">
                    </a> 
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-6 position-i">
                <div class="menu-left transition">
                    <%- include('menu.ejs') %>
                </div>
                <div class="search-right">
                    <div class="menu-toggle"><span></span></div>
                    <div class="search-menu">
                        <input type="text" name="search" class="search-input" placeholder="Search text">
                        <input type="submit" name="submit" class="search-btn">
                        <div class="search-button-i transition">
                            <img src="/images/search.png" class="position-r transition" alt="search">
                        </div>
                    </div>
                    <ul class="login-cart">
                        <li>
                            <div class="login-head">
                                <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                            </div>
                        </li>
                        <li>
                            <div class="cart-menu">
                                <div class="cart-icon position-r">
                                    <img src="/images/car-icon-w.png" class="position-r transition" alt="cart">
                                </div>
                                <div class="cart-dropdown header-link-dropdown">
                                    <ul class="cart-list link-dropdown-list">
                                        <li> 
                                              <a href="javascript:void(0)" class="close-cart"><i class="fa fa-times-circle"></i></a>
                                            <figure> 
                                                <a href="product-detail.html" class="pull-left"> 
                                                    <img alt="product" src="/images/product-1.jpg">
                                                </a>
                                                  <figcaption> 
                                                      <span>
                                                          <a href="product-detail.html">Men's Full Sleeves Collar Shirt</a>
                                                      </span>
                                                    <p class="cart-price">$14.99</p>
                                                    <div class="product-qty">
                                                          <label>Qty:</label>
                                                          <div class="custom-qty">
                                                            <input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty" disabled>
                                                          </div>
                                                    </div>
                                                  </figcaption>
                                            </figure>
                                        </li>
                                        <li> 
                                            <a class="close-cart"><i class="fa fa-times-circle"></i></a>
                                            <figure> 
                                                <a href="product-detail.html" class="pull-left"> 
                                                    <img alt="product" src="/images/product-2.jpg">
                                                </a>
                                                  <figcaption> 
                                                      <span>
                                                          <a href="product-detail.html">Women's Cape Jacket</a>
                                                      </span>
                                                    <p class="cart-price">$14.99</p>
                                                    <div class="product-qty">
                                                          <label>Qty:</label>
                                                          <div class="custom-qty">
                                                            <input type="text" name="qty" maxlength="8" value="1" title="Qty" class="input-text qty" disabled>
                                                          </div>
                                                    </div>
                                                  </figcaption>
                                            </figure>
                                        </li>
                                    </ul>
                                    <p class="cart-sub-totle"> 
                                        <span class="pull-left">Cart Subtotal</span> 
                                        <span class="pull-right"><strong class="price-box">$29.98</strong></span> 
                                    </p>
                                    <div class="clearfix"></div>
                                    <div class="mt-20"> 
                                        <a href="/cart" class="btn">Cart</a> 
                                        <a href="/checkout" class="btn btn-color right-side">Checkout</a> 
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>