<section class="newsletter pt-100">
    <div class="container">
        <div class="newsletter-inner text-center ptb-100">
            <h2 class="newsletter-title">Sign up for Newsletter</h2>
            <p class="newsletter-sub">Wants to get latest updates! sign up for Free</p>
            <form>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your email address" required>
              </div>
              <button type="submit" class="form-btn text-uppercase">
                <span class="sub-r">Subscribe</span> 
                <i class="fa fa-send icon-r"></i>
            </button>
            </form>
        </div>
    </div>
</section>