<!DOCTYPE html>
<html lang="en">
	<head>
        <%- include('../../layouts/head.ejs') %>
	</head>
	<body>
		<div class="main" id="main">
			<section class="pt-100 text-center">
				<div class="container">
					<div class="error-part">
						<div class="main-text">404</div>
						<h2 class="mb-30">Ooops! 404 - Page Not Found</h2>
						<a href="/" class="btn btn-color">Back To Home</a>
					</div>
				</div>
			</section>
		</div>
        <%- include('../../layouts/scripts.ejs') %>
	</body>
</html>