<header class="header transition">
    <div class="container position-r">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-6 align-flax">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="log" src="/static/images/logo.png" class="transition">
                    </a> 
                </div>
            </div>
            <div class="col-lg-10 col-md-8 col-6 position-i">
                <div class="menu-left transition">
                    <%- include('menu.ejs') %>
                </div>
                <div class="search-right">
                    <div class="menu-toggle"><span></span></div>
                    <div class="search-menu">
                        <input type="text" name="search" class="search-input" placeholder="Search text">
                        <input type="submit" name="submit" class="search-btn">
                        <div class="search-button-i transition">
                            <img src="/static/images/search.png" class="position-r transition" alt="search">
                        </div>
                    </div>
                    <ul class="login-cart">
                        <li>
                            <div class="login-head">
                                <% if (canLogout) { %>
                                <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
                                <% } else { %>
                                <a href="/profile"><i class="fa fa-user-o" aria-hidden="true"></i></a>
                                <% } %>
                            </div>
                        </li>
                        <li>
                            <%- include('cartMenu.ejs') %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>